<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="img/logo/logo2.jpg" rel= "icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Free Rest API - Kevzka</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  </head>
  <body id="page-top" onload="getvisitor();">
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fa-solid fa-bars" id="sidebar_btn"></i>
      </label>
     <div class="left_area">
      <h3>kevin <span>apta</span></h3>
  </header>
  <!--header area end -->
  <!--sidebar area star-->
  <div class="sidebar">
    <center>
      <img src="../logo2.png" class="profile_image" alt="">
    <h4>kevin  apta</h4>
    <a href="#"><i class="fa-solid fa-desktop"></i><span> dashboard</span></a>
    <a href="#"><i class="fa-solid fa-download"></i><span> tes3</span></a>
    <a href="#"><i class="fa-solid fa-file"></i><span> tes2</span></a>
    <a href="#"><i clasn s="fa-solid fa-wifi"></i><span> tes1</span></a>
    </center>
  </div>
  <!--sidebar area end-->
  </body>
</html>
